
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

.work-sans-font{
  font-family: "Work Sans", sans-serif;
 
}






/* Share style */
.share-style{


}

.mx-width{
  max-width: 1600px;
  margin: auto;
  /* border: 3px solid green; */
  background-color: #18013b;
}



.gradient-text{
 background: linear-gradient(to top, rgba(247, 233, 63, 1), rgba(251, 9, 180, 1), rgba(145, 0, 248, 1));
 -webkit-background-clip: text;
 -webkit-text-fill-color: transparent;
}

.gradient-btn{
 background: var(--linear, linear-gradient(47.60deg,  rgba(247, 233, 63, 1), rgba(251, 9, 180, 1), rgba(145, 0, 248, 1)));

}



.text-white{
  color: rgba(255, 255, 255, 1);
}






/* Main style */
/* main style start here */

.navbar{
  
  max-width: 1200px;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  
}


.nav-brand{
  font-size: 50px;
  font-weight: bolder;
  color: white;
  
  
}

.items{
 display: flex;
 gap: 22px;
}

.nav-item{
  list-style: none;
  
}

.nav-link{
  text-decoration: none;
  font-size: 20px;
  font-weight: 500;
  color: white;
  
}

.btn-primary{
  display: flex;
  align-items: center;
  gap: 5px;
  font-size: 15px;
  color: aliceblue;
  height: 44px;
  padding-left: 16px;
  padding-right: 16px;
  border-radius: 45px;
  border: none;
  font-weight: bolder;
  transition: all 0.3 ease;

}

.btn-img{
  height: 17px;
  
  
}

nav li:hover{
  background: var(--linear, linear-gradient(47.60deg,  rgba(247, 233, 63, 1), rgba(251, 9, 180, 1), rgba(145, 0, 248, 1)));
}

nav button:hover{
  transform: scale(1.15);
}


.humburger-logo{
  display: none;
  
}


/* Hero-cercle style */

.Parent-container{
  background-image: url(../assets/hero-bg.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  max-width: 1600px;
  height: 760px;
  margin: auto;
 justify-items: center;
}


.Hero-container{
display: flex;
justify-content: center;
align-items: center;

}

.hero-circle{
  
  padding-top: 100px;
  position: relative;
  max-width: 350px;
  margin: auto;

}






.microphone{
 position: absolute;
 margin-top: 100px;
 
 
 
}

.new-badge{
 background-color: #00FF88;
 width: 50px;
 height: 20px;
 text-align: center;
 border-radius: 12px;
 font-size: 14px;
 padding-top: 2px;
 font-weight: 600px;
 margin-bottom: 200px;
 position: absolute;
 margin-left: 200px;
 animation: glow-pulse 1.5s infinite ease-out;
 
 
}


@keyframes glow-pulse{
0%{
  transform: scale(1);
  box-shadow: 0 0 5px #FFFFFF;
  
}

  
50%{
  transform: scale(1.4);
  box-shadow: 0 0 10px #FFFFFF;
}

100%{
  transform: scale(1);
  box-shadow: 0 0 5px #FFFFFF;
}

} 


.Hero-title{
 color: white;
 font-size: 55px;
}

.Hero-description{
color: #FFFFFF;

}

.btn{
 display: flex;
 gap: 10px;
 
}

.btn-spotify{
 background: var(--linear, linear-gradient(47.60deg,  rgba(247, 233, 63, 1), rgba(251, 9, 180, 1), rgba(145, 0, 248, 1)));
 color: #FFFFFF;
 font-size: 10px;
 width: 120px;
display: flex;
align-items: center;
gap: 5px;
height: 27px;
border-radius:45px ;
border: none;
font-weight: bolder;

}

.spotyfy-img{
  height: 12px;
}


.btn-massage{
  background-color: transparent;
  border: 1px solid #00FF88;
  color: #00FF88;
  font-size: 8px;
  display: flex;
  align-items: center;
  gap: 5px;
  width: 80px;
  border-radius: 38px ;
  font-weight: bolder;
  

}

.msg-img{
  height: 10px;
}



/* main section start here  */




















/* Media query small device */
@media screen and (max-width:576px) {
   .navbar, .items {
    flex-direction: column;
   }

   .items, 
   .btn-primary, 
   .gradient-btn, 
   .btn-img,
   .nav-link
   {
    display: none;

   }

  .humburger{
    max-width: 440px;
    height: 60px;
   display: flex;
   flex-direction: row;
   justify-content: space-between;
   width: 100%;
   align-items: center;
   
  }


  .nav-brand {
    font-size: 30px;
    margin-left: 15px;
  }

   .humburger-logo{
    display: block;
    margin-right: 15px;

   }
  
   .Parent-container{
    background-size: 100% 55%;
    margin-top: -172px;
    

   }
   
   .hero-circle{
    width: 200px;
    height: 200px;
    
    margin-top: 120px;
   }

   .microphone{
    width: 80px;
    width: 80px;
    margin-top: 220px;
   }
   
   .new-badge{
    margin-top: 260px;
    margin-right: 50px;
    width: 40px;
    height: 6px;
    font-size: 10px;
    padding-bottom: 9px;
   }

  .Hero-title{
    font-size: 30px;
  }

   .Hero-description{
   text-align: center;
   font-size: 13px;
   }

   
   /* main section start here */




  }


  

