
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

.work-sans-font{
  font-family: "Work Sans", sans-serif;
 
}






/* Share style */
.share-style{


}

.mx-width{
  max-width: 1600px;
  margin: auto;
  /* border: 3px solid green; */
  background-color: #18013b;
}



.gradient-text{
 background: linear-gradient(to top, rgba(247, 233, 63, 1), rgba(251, 9, 180, 1), rgba(145, 0, 248, 1));
 -webkit-background-clip: text;
 -webkit-text-fill-color: transparent;
}

.gradient-btn{
 background: var(--linear, linear-gradient(47.60deg,  rgba(247, 233, 63, 1), rgba(251, 9, 180, 1), rgba(145, 0, 248, 1)));

}



.text-white{
  color: rgba(255, 255, 255, 1);
}






/* Main style */
/* main style start here */

.navbar{
  
  max-width: 1200px;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  
}


.nav-brand{
  font-size: 50px;
  font-weight: bolder;
  color: white;
  
  
}

.items{
 display: flex;
 gap: 22px;
}

.nav-item{
  list-style: none;
  
}

.nav-link{
  text-decoration: none;
  font-size: 20px;
  font-weight: 500;
  color: white;
  
}

.btn-primary{
  display: flex;
  align-items: center;
  gap: 5px;
  font-size: 15px;
  color: aliceblue;
  height: 44px;
  padding-left: 16px;
  padding-right: 16px;
  border-radius: 45px;
  border: none;
  font-weight: bolder;
  transition: all 0.3 ease;

}

.btn-img{
  height: 17px;
  
  
}

nav li:hover{
  background: var(--linear, linear-gradient(47.60deg,  rgba(247, 233, 63, 1), rgba(251, 9, 180, 1), rgba(145, 0, 248, 1)));
}

nav button:hover{
  transform: scale(1.15);
}


.humburger-logo{
  display: none;
  
}


/* Hero-cercle style */

.Parent-container{
  background-image: url(../assets/hero-bg.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  max-width: 1600px;
  height: 760px;
  margin: auto;
 justify-items: center;
}


.Hero-container{
display: flex;
justify-content: center;
align-items: center;

}

.hero-circle{
  
  padding-top: 100px;
  position: relative;
  max-width: 350px;
  margin: auto;

}






.microphone{
 position: absolute;
 margin-top: 100px;
 
 
 
}

.new-badge{
 background-color: #00FF88;
 width: 50px;
 height: 20px;
 text-align: center;
 border-radius: 12px;
 font-size: 14px;
 padding-top: 2px;
 font-weight: 600px;
 margin-bottom: 200px;
 position: absolute;
 margin-left: 200px;
 animation: glow-pulse 1.5s infinite ease-out;
 
 
}


@keyframes glow-pulse{
0%{
  transform: scale(1);
  box-shadow: 0 0 5px #FFFFFF;
  
}

  
50%{
  transform: scale(1.4);
  box-shadow: 0 0 10px #FFFFFF;
}

100%{
  transform: scale(1);
  box-shadow: 0 0 5px #FFFFFF;
}

} 


.Hero-title{
 color: white;
 font-size: 55px;
}

.Hero-description{
color: #FFFFFF;

}

.btn{
 display: flex;
 gap: 10px;
 
}

.btn-spotify{
 background: var(--linear, linear-gradient(47.60deg,  rgba(247, 233, 63, 1), rgba(251, 9, 180, 1), rgba(145, 0, 248, 1)));
 color: #FFFFFF;
 font-size: 10px;
 width: 120px;
display: flex;
align-items: center;
gap: 5px;
height: 27px;
border-radius:45px ;
border: none;
font-weight: bolder;

}

.spotyfy-img{
  height: 12px;
}


.btn-massage{
  background-color: transparent;
  border: 1px solid #00FF88;
  color: #00FF88;
  font-size: 8px;
  display: flex;
  align-items: center;
  gap: 5px;
  width: 80px;
  border-radius: 38px ;
  font-weight: bolder;
  

}

.msg-img{
  height: 10px;
}



/* main section start here  */


.podcast-container{
 max-width: 1600px;
 margin: auto;
 margin-top: -25px;
 text-align: center;
 background-color: #18013b;
 padding-top: 10px;
 padding-bottom: 40px;
 
}

.podcast-body{
border: 2px solid green;
max-width: 1200px;
margin: auto;
}

.Podcast-title{
  color: #FFFFFF;
  font-size: 38px;
  font-weight: bolder;
}

.Podcast-description{
  color: #FFFFFF;
  font-size: 10px;
  font-weight: 500px;
  
}

.podcast-analysis{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 115px;

}

.Container-H{
  color: #FFFFFF;
  font-size: 36px;
  padding-top: 35px;
}

.analysis-number{
  color: #00FF88;
  font-size: 30px;
  font-weight: 900px;

}

.Container-section{
  
  max-width: 1600px;
  margin: auto;
  text-align: center;
  background-color: #230E3D;
  padding-bottom: 80px;
  padding-top: 1px;
 
}

.content-div{
   max-width: 1200px;
  margin: auto;

}

.grid-container {
  display: grid;
  gap: 20px;
  grid-template-columns: repeat(3,1fr);
  padding: 20px;
}

.card-long{
  
  grid-row: span 2;
  height: 400px;
  width: 300px;
  text-align: start;
  padding: 40px;
  background-color: #351165;
  border-radius: 40px;
  padding-top: 150px;
  

}

.card-2{
  
  grid-column: span 2;
  text-align: start;
  padding: 40px;
  background-color: #351165;
  border-radius: 40px;
}
.card-3{
  
  grid-column: span 2;
  text-align: start;
  padding: 40px;
  background-color: #351165;
  border-radius: 40px;
}
.card-4{
  
  grid-column: span 2;
  height: 273px;
  text-align: start;
  padding: 40px;
  background-color: #351165;
  border-radius: 40px;
  
}
 

.card-5{
  
  text-align: start;
  padding: 40px;
  background-color: #351165;
  border-radius: 40px;
 
}

.card-h{
  font-size: 17px;
  color: #FFFFFF;
  

}

.card-p{
  color: #FFFFFF;
  font-size: 15px;


}




/* .......Episodes-Container section start here...... */

.Episodes-Container{
  /* border:  3px solid rgb(223, 7, 7); */
  max-width: 1600px;
  margin: auto;
  background-color: #18013b;
  padding-bottom: 100px;
  padding-top: 1px;
  
  
}

.title-Ep{
  font-size: 55px;
  text-align: center;
  font-size: 80px;
  color: #FFFFFF;


}


.Episodes-body{
  /* border:  3px solid green; */
  max-width: 1200px;
  margin: auto;
  }

  .Episodes-video{
    
    width: 380px;
    background-color: #351165;
    border-radius: 24px;
    
  }

  .video-img{
    border-radius :24px 24px 0px 0px;
  }

  .episode-description{
    padding-left: 25px;
  }

  .Episodes-h{
    color: #FFFFFF;
    font-size: 23px;
  }
  .Episodes-p{
   color: #FFFFFF;
  }
  .Episodes-p2{
  color: #00FF88;
  display: flex;
  align-items: center; 
  justify-items: center;
  gap: 5px;

  }

  .card-div{
    display: flex;
    gap: 27px;
  }









/* Media query small device */
@media screen and (max-width:576px) {
   .navbar, .items,  .card-div {
    flex-direction: column;
   }

   .items, 
   .btn-primary, 
   .gradient-btn, 
   .btn-img,
   .nav-link
  
   {
    display: none;

   }

  .humburger{
    max-width: 440px;
    height: 60px;
   display: flex;
   flex-direction: row;
   justify-content: space-between;
   width: 100%;
   align-items: center;
   
  }


  .nav-brand {
    font-size: 30px;
    margin-left: 15px;
  }

   .humburger-logo{
    display: block;
    margin-right: 15px;

   }
  
   .Parent-container{
    background-size: 100% 55%;
    margin-top: -172px;
    

   }
   
   .hero-circle{
    width: 200px;
    height: 200px;
    
    margin-top: 120px;
   }

   .microphone{
    width: 80px;
    width: 80px;
    margin-top: 220px;
   }
   
   .new-badge{
    margin-top: 260px;
    margin-right: 50px;
    width: 40px;
    height: 6px;
    font-size: 10px;
    padding-bottom: 9px;
   }

  .Hero-title{
    font-size: 30px;
  }

   .Hero-description{
   text-align: center;
   font-size: 13px;
   }

   
   /* main section start here */

   
   .podcast-container{
    margin-top: -200px;
    height: 193px;
   }



   .Podcast-title{
  color: #FFFFFF;
  font-size: 18px;
  font-weight: bolder;
}

.Podcast-description{
  color: #FFFFFF;
  font-size: 5px;
  
  
  
}

.podcast-analysis{
  display: grid;
  grid-template-columns: repeat(2,1fr);
  gap: 20px;
  margin-top: 20px;

  
}
  
.analysis-number{
  font-size: 12px;
}

.media-des{
 font-size: 9px;
}

.media-img{
 height: 13px;
 
}

.media{
  margin-bottom: 4px;
  display: flex;
 flex-direction: row;
 align-items: center;
 padding-left: 80px;
  
}

/* Tachwave choose section start here */




.Container-section{
 height: 1740px;
}
  

.grid-container{
  display: grid;
  grid-template-columns: repeat(1, 1fr);
}

.card-long{
  height: 190px;
  width: 222px;
  /* margin-bottom: 50px; */
  /* padding-bottom: 200px; */
  padding-top: 150px; 
  display: flex;
  flex-direction: column;
 justify-content: center;
 
  
}

.card-2{
  width: 222px;
}

.card-3{
  width: 222px;
}
.card-4{
  width: 222px;
  
}

/* ....Episodes-video start here..... */

.Episodes-Container{
  padding-bottom: 25px;
}

.title-Ep{
  font-size: 20px;
}

  .video-img{
    width: 300px;
  }

.Episodes-video{
  width: 300px;
  font-size: 10px;
  margin-left: 22px;
  
}

.Episodes-h{
  font-size: 12px;
}

  }


  

